<div class="aky_sidebar">
	<ul class="aky_sidebar-menu">
		<li><a href="{{ path('akyos_updates') }}">Dashboard</a></li>
		<li><a href="{{ path('akyos_updates_hosting') }}">Informations générales</a></li>
		<li><a href="{{ path('akyos_updates_plugins') }}">Plugins</a></li>
		<li><a href="{{ path('akyos_updates_generic_wp_options') }}">Options WordPress</a></li>
		<li><a href="{{ path('aky-gdpr') }}">RGPD</a></li>
		<li><a href="{{ path('akyos_updates_branda_options') }}">Branda</a></li>
		<li><a href="{{ path('akyos_updates_smush_options') }}">Smush</a></li>
		<li><a href="{{ path('akyos_updates_seo_options') }}">Smartcrawl \ Yoast SEO</a></li>
		<li><a href="{{ path('akyos_updates_hummingbird_options') }}">Hummingbird</a></li>
		<li><a href="{{ path('akyos_updates_defender_options') }}">Defender</a></li>
		<li><a href="{{ path('akyos_updates_rapport') }}">Rapports</a></li>
	</ul>
</div>
