<div class="aky_sidebar">
	<ul class="aky_sidebar-menu">
		<li><a href="{{ path('akyos_updates') }}">Akyos Updates</a></li>
		<li><a href="{{ path('akyos_updates_hosting') }}">Hébergement</a></li>
		<li><a href="{{ path('akyos_updates_plugins') }}">Plugins</a></li>
		<li><a href="{{ path('akyos_updates_page_index') }}">Indexation de pages</a></li>
		<li><a href="{{ path('akyos_updates_generic_wp_options') }}">Options WordPress</a></li>
		<li><a href="{{ path('aky-gdpr') }}">RGPD Akyos</a></li>
		<li><a href="{{ path('akyos_updates_branda_options') }}">WPMU Branda</a></li>
		<li><a href="{{ path('akyos_updates_smush_options') }}">WPMU Smush</a></li>
		<li><a href="{{ path('akyos_updates_hummingbird_options') }}">WPMU Hummingbird</a></li>
		<li><a href="{{ path('akyos_updates_defender_options') }}">WPMU Defender</a></li>
		<li><a href="{{ path('akyos_updates_rapport') }}">Rapports</a></li>
	</ul>
</div>
