<form method="POST" enctype="multipart/form-data" action="{{ ajax ? admin_ajax : admin_url }}" data-wp-ajax="{{ ajax ? 'true' : 'false' }}"
		data-message-success="{{ ajax.success_message ?: "L'action a été réalisée avec succès !" }}"
		data-message-error="{{ ajax.error_message ?: "Une erreur est survenue lors de l'action." }}"
>
	<input type="hidden" name="action" value="{{ ajax ? 'akyos_updates_custom_ajax' : action }}">
	{% if ajax %}
		<input type="hidden" name="hook" value="{{ ajax.hook }}">
	{% endif %}
	{% if fields is defined and fields %}
		{% for field in fields %}
			{% if field.type == 'hidden' %}
				<input name="{{ field.name }}" type="{{ field.type }}" placeholder="{{ field.label }}" value="{{ field.value }}" required>
				{% else %}
					<div class="form-group">
						<label for="{{ field.name }}">
							{{ field.label }}
						</label>
						<input name="{{ field.name }}" type="{{ field.type }}" placeholder="{{ field.label }}" accept="{{ field.acceptc }}" value="{{ field.value }}" required>
					</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<button type="submit" class="btn btn-primary">{{ label }}</button>
</form>
